* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

.content {
  width: 25rem;
  margin: 0 auto;
}

#weather-items {
  width: 100%;
}
#city,
#current-time {
  margin: 1rem 0;
}

#city {
  font-size: 2rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

td {
  padding: 1ex;
  border: 1px solid #ccc;
}

#go-button {
  border: 1px solid #ddd;
  border-radius: 0;
  margin: 4ex auto;
  padding: 1ex 2ex;
  display: block;
}

#go-button:hover {
  background-color: #eee;
}

#go-button:active {
  background-color: #ccc;
}

#go-button:focus {
  outline: 0;
}
